#header {
    background-color: gray;
}

#footer {
    background-color: gray;
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: floralwhite;
}

.content {
    text-align: center;
    background-color: blue;
}

.recipe_card {
    border-style: double;
    border-radius: 2px;
    background-color: aqua;
    width: 50%;
    margin: auto;
    margin-top: 3px;
    min-height: 30px;
    vertical-align: middle;
}

#comment_card {
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    width: 30%;
}

.meal_card {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    width: 30%;
    text-align: center;
}

#user_card {
    width: 100%;
    text-align: center;
    align-content: center;
    margin: auto;
}

.user_tables {
    margin: auto;
}

.front_page_cards {
    margin: auto;
    width: 45%;
    align-content: center;
}

#recipes_card, #ingredients_card, #users_card {
    background-color: dimgray;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    height: 250px;
    margin: 10px;
}

.navbar {
    background-color: wheat;
    align-items: center;
    display: flex;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    padding: 12px;
    display: block;
}

.navbar ul a:hover,
.navbar ul a:focus {
    background-color: whitesmoke;
}

#navbar_user {
    background-color: blue;
}

table {
    margin: 2px;
    background-color: azure;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 1px;
}

td {
    padding: 1px;
    margin: 2px;
}

tbody, td {
    text-align: center;
}

.user_profile {
    margin-top: 3px;
    background-color: floralwhite;
    vertical-align: middle;
}