{% extends "layout.html" %}
{% block title %} {{ recipe_name }} {% endblock %}
{% block content %}
{% if session.username %}
<title>Add recipe</title>
<h3>Add new recipe!</h3>
{{ error }} <br>
<table class="table">
    <form name="recipe_form" action="/send_recipe" method="post" onsubmit="return validateForm()">
        <tr>
            <td></td>
            <td></td>
            <td>
                Amount in grams:
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name"> <br>
            </td>
        </tr>
        <tr>
            <td>
                Ingredient 1:
            </td>
            <td>
                <select name="ingredient">
                    {% for ingredient in all_ingredients %}
                    <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="ingredient_amount">
            </td>
        </tr>
        <tr>
            <td>
                Ingredient 2:
            </td>
            <td>
                <select name="ingredient">
                    {% for ingredient in all_ingredients %}
                    <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="ingredient_amount">
            </td>
        </tr>
        <tr>
            <td>
                Ingredient 3:
            </td>
            <td>
                <select name="ingredient">
                    {% for ingredient in all_ingredients %}
                    <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="ingredient_amount">
            </td>
        </tr>
        <tr>
            <td>
                Ingredient 4:
            </td>
            <td>
                <select name="ingredient">
                    {% for ingredient in all_ingredients %}
                    <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="ingredient_amount">
            </td>
        </tr>
        <tr>
            <td>
                Ingredient 5:
            </td>
            <td>
                <select name="ingredient">
                    {% for ingredient in all_ingredients %}
                    <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="ingredient_amount">
            </td>
        </tr>    
        <input type="submit" class="btn btn-success" value="Add recipe">
    </form>
</table>
<a href="/" class="btn btn-light">Siirry etusivulle</a>
<script>
    function validateForm() {
        let x = document.forms["recipe_form"]["name"].value;
        if (x == "") {
            alert("Name must be filled");
            return false;
        }
        if (x.length < 3) {
            alert("Name must be longer than two characters");
            return false;
        }
        if (x.length > 50) {
            alert("Name cannot be longer than 50 characters");
            return false;
        }
        let y = document.forms["recipe_form"]["amount"].value;
    }
</script>
{% endif %}
{% endblock %}