{% extends "layout.html" %}
{% block title %} Add ingredient {% endblock %}
{% block content %}
{% if session.username %}
<div class="add_ingredient_card">
    <h3>Add new ingredient</h3>
    <form action="/send_ingredient" method="post">
        <table>
            <tr>
                <td>Ingredient name: </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Kilocalories: </td>
                <td><input type="text" name="kcal"></td>
            </tr>
            <tr>
                <td>Carbohydrates:</td>
                <td><input type="text" name="carbs"></td>
            </tr>
            <tr>
                <td>Protein:</td>
                <td><input type="text" name="protein"></td>
            </tr>
            <tr>
                <td>Fat:</td>
                <td><input type="text" name="fat"></td>
            </tr>
            <tr>
                <td>Salt:</td>
                <td><input type="text" name="salt"></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Add ingredient">
    </form>
    <a href="/ingredients" class="btn btn-primary" style="margin-top: 5px;"  role="button">Go back</a>
</div>
{% endif %}
{% endblock %}
