{% extends "layout.html" %}
{% block title %} {{ recipe_name }} {% endblock %}
{% block content %}
{% if session.username %}
<title>Add recipe</title>
<h3>Add new recipe!</h3>
<form action="/send_recipe" method="post">
    Name: <input type="text" name="name"> <br>
    Ingredient 1: 
    <select name="ingredient">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
        {% endfor %}
    </select>
    Ingredient 2:
    <select name="ingredient">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.name }}">{{ingredient.name}}</option>
        {% endfor %}
    </select>
    Amount in grams:
    <input type="text" name="ingredient_amount">
    <input type="text" name="ingredient_amount">
    <input type="submit" value="Add recipe">

</form>
<a href="/">Siirry etusivulle</a>
{% endif %}
{% endblock %}