{% extends "layout.html" %}
<title>Etusivu</title>

{% block content %}
{% if session.username %}

<div class="front_page_cards">
    <div id="recipes_card">
        <a href="/recipes">recipes</a>
    </div>
    <div id="ingredients_card">
        <a href="/ingredients">ingredients</a>
    </div>
    <div id="users_card">
        <a href="/users">users</a>
    </div>
</div>

<div>
    <p>Freshly added recipes:</p> 
{% for recipe in recipes %}
<a href="{{ recipe.name }}">{{ recipe.name }}</a> <br>
{% endfor %}
{% endif %}

{% endblock %}
</div>
