<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Meal Planner - {% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='meal_planner_styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  
  <body>
    <div class="container">
        {% if session.username %}
        <div class="header">
          <nav class="navbar navbar-expand-sm navbar-light py-lg-0">
            <div class="container-fluid">
            <img src="{{ url_for('static', filename='meal_icon.png') }}" alt="user avatar" height="60px">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/users/{{ session.username }}">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recipes">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ingredients">Ingredients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
              <li class="nav-item">
                <div class="search">
                  <form action="/recipe_results" method="GET">
                      <input type="text" name="query" placeholder="Search for a recipe" required>
                      <input type="submit" value="Search">
                      </form>
                </div>
              </li>
              <div class="collapse navbar-collapse justify-content-end">
              <li class="nav-item">
                <div id="navbar_user">
                  <img src="{{ url_for('static', filename='user_avatar.png') }}" alt="user avatar" height="30px">
                  {{ session.username }} <a href="/logout" class="btn btn-light" style="display: inline;">Log out</a>
                </div>
              </li>
            </div>
            </ul>
          </div>
          </nav>
        </div>
        {% else %}
        <div class="header">
          <nav class="navbar navbar-expand-sm navbar-light py-lg-0">
            <div class="container-fluid">
            <img src="{{ url_for('static', filename='meal_icon.png') }}" alt="user avatar" height="60px">
          </div>
          </nav>
        </div>
        {% endif %}
        <div class="content">{% block content %}{% endblock %}
        </div>
        {% if session.username %}
        <footer class="footer">
          {% block footer %}
          &copy; Copyright jussinie 
          {% endblock %}
        </footer>
    {% else %}
    {% block login%}
    <div style="text-align:center">
      <a href="/login" class="btn btn-light">Login</a>
    </div>
    {% endblock %}
    {% endif %}
  </div>
  </body>
</html>