<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Meal Planner</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='meal_planner_styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  
  <body>
    <div id="header">
        {% if session.username %}
        <nav class="navbar">
          <a class="brand" href="#">RS</a>
          <ul>
            <li>
              <a href="/users/{{ session.username }}">User</a>
            </li>
            <li>
              <a href="/recipes">Recipes</a>
            </li>
            <li>
              <a href="/ingredients">Ingredients</a>
            </li>
            <li>
              <a href="/users">Users</a>
            </li>
            <li>
              <div id="navbar_user">
                <p>You are logged in as {{ session.username }}</p>
                <a href="/logout">Log out</a>
              </div>
            </li>
          </ul>

        </nav>
        {% endif %}
        <hr>
      </div>
    <div id="content">{% block content %}{% endblock %}</div>
    {% if session.username %}
    <div id="footer">
      {% block footer %}
      <hr>
      This is footer. <br>
      &copy; Copyright jussinie 
      {% endblock %}
    </div>
    {% else %}
    {% block login%}
    <p>Please login <a href="/login">here</a> first</p>
    {% endblock %}
    {% endif %}
  </body>
</html>