<title>Add user</title>
<h3>Add new user!</h3>
<form action="/send" method="post">
    First name: <input type="text" name="first_name">
    Last name: <input type="text" name="last_name">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    Height: <input type="text" name="height">
    Weight: <input type="text" name="weight">
    Age: <input type="text" name="age">
    Gender: <input type="text" name="gender">
    <input type="submit" value="Add user">
</form>
<a href="/">Siirry etusivulle</a>