{% extends "layout.html" %}
{% block title %} {{ recipe_name }} {% endblock %}
{% block content %}
{% if session.username %}
<h3>{{ recipe_name }}</h3>
<h4>Raaka-aineet</h4>
{{ ingredient_name }} {{amount}}g
<hr>
<h5>{{ total }}</h5>
<hr>
<h4>Comments:</h4>
{% for comment in comments %}
<div id="comment_card">
    <div>
        {{ comment.first_name}} {{ comment.last_name}} {{ comment.sent_at.strftime("%Y-%m-%d %H:%M") }} <br>
    </div>
    <div>
        <p>{{ comment.content }}</p>
    </div>
</div>
{% endfor %}

<form action="/{{ recipe_name }}" method="post">
    Comment: <br>
    <input type="text" name="comment">
    <input type="submit" value="Add comment" name="submit_comment">
</form>

<form action="/{{ recipe_name }}" method="post">
    <input type="submit" value="Add to planner" name="add_recipe_to_plan">
</form>

<a href="/recipes">Back to recipes</a>
{% endif %}
{% endblock %}