{% extends "layout.html" %}
{% block title %} {{ recipe_name }} {% endblock %}
{% block content %}
{% if session.username %}
<title>Recipes</title>
    <div class="content">
        <div class="search">
            <form action="/recipe_results" method="GET">
                Hakusana: <input type="text" name="query" required>
                <input type="submit" value="Search">
                </form>
                
        </div>
    Recipes saved: {{ count }}
    <hr>
    <a href="/add_recipe" class="btn btn-primary">Add new</a>
    <a href="/" class="btn btn-primary">To front page</a> <br>
    {% for recipe in recipe_infos %}
    <div class="recipe_card">
        <a href="/recipes/{{ recipe.name }}">{{ recipe.name }}</a>
        <p>Total calories: {{ recipe.total_kcal }}</p> 
        <p>Added by: {{ recipe.username }}</p>
        <p>Comments: {{ recipe.comment_amount }}</p>  
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}