{% extends "layout.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block content %}
{% if session.username %}
<div id="user_card">
    <title>{{ user.username }}</title>
    <img src="{{ url_for('static', filename='user_avatar.png') }}" alt="user avatar" height="150px">
    <h3>{{ user.first_name}} {{ user.last_name }}</h3>
    <table class="table">
        <tr>
            <td>Height: </td>
            <td>{{ user.height }}</td>
        </tr>
        <tr>
            <td>Weight: </td>
            <td>{{ user.weight }}</td>
        </tr>
        <tr>
            <td>Age: </td>
            <td>{{ user.age }}</td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <td>Bmr: </td>
            <td>{{ user.bmr }}</td>
        </tr>
    </table>

    <p></p>
    <h3>Meals:</h3>
    {% for meal in meals %}
    <div class="meal_card">
        <h4><a href="/recipes/{{ meal.name }}">{{ meal.name }}</a></h4>
        <p>Calories: {{ meal.total_kcal }}</p>
        <p>Protein:</p>
        <form action="/remove_recipe/{{ meal.name }}" method="post">
            <input type="submit" class="btn btn-danger" value="Delete meal from Planner" name="{{ user.username }}/{{ meal.name }}">
        </form> 
    </div>
    {% endfor %}

    <h4>Total calories {{ total_kcal }}</h4>
    <h4>Left in daily budget: {{ budget_left }}</h4>

    <a href="/" class="btn btn-primary">To front page</a>
</div>
{% endif %}
{% endblock %}