{% extends "layout.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block content %}
{% if session.username %}
<div id="user_card">
    <title>{{ user.username }}</title>
    <img src="{{ url_for('static', filename='user_avatar.png') }}" alt="user avatar" height="150px">
    <h3>{{ user.first_name}} {{ user.last_name }}</h3>
    <table class="user_tables">
        <tr>
            <td>Height: </td>
            <td>{{ user.height }}</td>
        </tr>
        <tr>
            <td>Weight: </td>
            <td>{{ user.weight }}</td>
        </tr>
        <tr>
            <td>Age: </td>
            <td>{{ user.age }}</td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <td>Bmr: </td>
            <td>{{ user.bmr }}</td>
        </tr>
    </table>

    <p></p>
    <h3>Meals:</h3>
    {% for meal in meals %}
    <a href="/{{ meal.name }}">{{ meal.name }}</a>
    <p>Calories: {{ meal.total_kcal }}</p>
    <p>Protein:</p> 
    {% endfor %}





    <table>
        <thead><h4>Meal Planner:</h4></thead>
        <th>Meal</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
        <tr>
        </tr>
        <tr>
            <td>Breakfast</td>

            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Lunch</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Snack</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Dinner</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Evening snack</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </table>
</div>


<a href="/">To landing page</a>
{% endif %}
{% endblock %}